extends layout

block content
  h1= room.name
  if users.length
    table
      each user, index in users
        tr
          td= user.name
          td= user.term == "" ? "hidden" : user.term
          td= user.guessed ? "Guessed" : "Not guessed"
  else
    h3 There are currently no other players.
